



.myQallery{
    display: flex;
    width: 70%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin-left: 5px;
}

.sidebar .small-previw{
    width: 100%;
}

.zoom-img{
    margin-left: 5px;
    flex-basis: calc(70% - 5px);
}